### Miscellaneous
.DS_Store
Thumbs.db

### Vagrant
/.vagrant

### Composer

### IDE
/.idea

### PHPCS
cs_fixer*
.php_cs.cache

### NodeJS
node_modules/

### WordPress
/htdocs/content/uploads/
/htdocs/content/upgrade/

### Environment Credentials
.env